body {
    width: 500px;
    margin: 0 auto;
}

h1 {
    top: 0;
    position: fixed;
}

p:nth-of-type(1) {
    margin-top: 60px;
}

.positioned {
    top: 30px;
    left: 10000px;
    padding: 10px;
    margin: 10px;
    background: rgba(255, 0, 0, 0.616);
    border: 2px solid green;
    border-radius: 5px;
    position: sticky;
}