body {
    display: grid;
    gap: 5px;
    grid-template-areas: "nav1 header" "nav1 article" "nav1 aside" "nav1 footer";
    grid-template-columns: 15vh 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    height: 100vh;
    margin: 0;
}

header,
article,
nav,
#Aside,
footer {
    background-color: greenyellow;
}

#header {
    grid-area: header;
}

#nav {
    grid-area: nav1;
}

#article {
    grid-area: article;
}

#aside {
    grid-area: aside;
}

#footer {
    grid-area: footer;
}