#table1 {
    border: 1px solid green;
    margin-bottom: 10%;
}

.td {
    border: 1px solid green;
}

.th {
    border: 1px solid green;
}

#table2 {
    border: 1px solid green;
    border-collapse: collapse;
}

.th2 {
    border: 1px solid green;
}

.td2 {
    border: 1px solid green;
}