.divPrincipal {
    display: grid;
    grid-template-areas: "nav" "contenido" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 85vh 5vh;
    margin: 0;
    height: 100vh;
}

body {
    margin: 0;
}

nav {
    grid-area: nav;
    background-color: orange;
    border: 1px solid black;
}

nav ul {
    gap: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
}

nav ul li a {
    color: black;
}

.enlacenav {
    margin: 10px;
    color: black;
}

#contenido {
    grid-area: contenido;
    margin: 0;
    height: 100%;
}