.main {
    background-color: grey;
    margin: 0;
    border: 1px solid black;
}

.header {
    display: flex;
    background-color: red;
    margin: 0;
    border: 1px solid black;
    color: white;
    padding: 1%;
}

.hero {
    background-color: yellow;
    margin: 0;
    border: 1px solid black;
    color: white;
    padding: 1%;
}

.content {
    flex: auto;
    background-color: blue;
    margin: 0;
    border: 1px solid black;
    color: white;
    padding: 1%;
}

.sidebar {
    flex: 320px;
    background-color: purple;
    margin: 0;
    border: 1px solid black;
    padding: 1%;
    color: white;
}

.footer {
    background-color: red;
    margin: 0;
    border: 1px solid black;
    padding: 1%;
    color: white;
}

@media(min-width: 640px) {
    .flex-container {
        display: flex;
    }
    .content {
        flex: 1;
        background-color: greenyellow;
    }
    .sidebar {
        flex: 0 1 300px;
        background-color: purple;
    }
    .footer,
    .sidebar {
        border: 1px solid black;
    }
    .footer {
        background-color: grey;
    }
}