#parrafo1{
    background: grey;
}
#parrafo2{
    margin-right: 80%;
    padding: 5% 2.5%;
    border: 2px grey solid;
}
#parrafo3{
    margin-right: 80%;
    padding: 5% 2.5%;
    border: 20px grey solid;

}