.divPrincipal {
    display: grid;
    grid-template-areas: "header" "nav" "contenido" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 5% 70% 5%;
    margin: 0;
    height: 100vh;
}

#header {
    grid-area: header;
    align-items: center;
    display: flex;
    justify-content: center;
}

#nav {
    grid-area: nav;
    background-color: blue;
    border: 1px solid black;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.enlacenav1{
    margin: 10px;
    color: white;
}
.enlacenav {
    margin: 10px;
    color: black;
}

#contenido {
    display: grid;
    grid-template-areas: "unidad1" "unidad2" "unidad3" "unidad4" "unidad5" "unidad7" "unidad9" "unidad11";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
    height: 100%;
}

ul {
    list-style: none;
}

#unidad1 {
    color: black;
    text-align: center;
    grid-area: unidad1;
    border: 1px solid black;
}

#unidad2 {
    text-align: center;
    grid-area: unidad2;
    color: white;
    background-color: blue;
    border: 1px solid black;
}

#unidad2 a {
    margin: 10px;
    color: white;
}

#unidad3 {
    text-align: center;
    grid-area: unidad3;
    border: 1px solid black;
}

#unidad4 {
    text-align: center;
    border: 1px solid black;
    grid-area: unidad4;
    color: white;
    background-color: blue;
}

#unidad4 a {
    margin: 10px;
    color: white;
}

#unidad5 {
    grid-area: unidad5;
    text-align: center;
    border: 1px solid black;
}

#unidad7{
    text-align: center;
    border: 1px solid black;
    grid-area: unidad7;
    color: white;
    background-color: blue;
}
#unidad7 a {
    margin: 10px;
    color: white;
}
#unidad9 {
    grid-area: unidad9;
    text-align: center;
    border: 1px solid black;
}
#unidad11{
    text-align: center;
    border: 1px solid black;
    grid-area: unidad11;
    color: white;
    background-color: blue;
}
#unidad11 a {
    margin: 10px;
    color: white;
}

footer {
    grid-area: footer;
}

@media(max-height: 700px) {
    .divPrincipal {
        display: grid;
        grid-template-areas: "header" "nav" "contenido" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 10vh 70vh 1fr;
        margin: 0;
        height: 100vh;
    }
}

@media(max-height: 400px) {
    .divPrincipal {
        display: grid;
        grid-template-areas: "header" "nav" "contenido" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 10vh 70vh 1fr;
        margin: 0;
        height: 100vh;
    }
}