#principal{
    color: red;
    background-color: gold;
    font-size: 4vw;
    padding: 2vw;
    margin: 2vw;
    border: solid;
}
#div1{
    filter: contrast(5);
}
#div2{
    filter: brightness(50%);
}
#div3{
    filter: hue-rotate(200deg);
}
#div4{
    filter: invert(1);
}
#div5{
    filter: grayscale();
}